.codeBlockOverlayContainer {
    position: relative;
}

.codeBlockOverlayGithubIcon {
    position: absolute;
    right: calc(var(--ifm-pre-padding) / 2);
    bottom: calc(var(--ifm-pre-padding) / 2);

    width: 2.125rem;
    height: 2.125rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--prism-background-color);
    color: var(--prism-color);
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-global-radius);
}
