.codeBlockOverlayContainer {
    position: relative;
}

.codeBlockOverlayGithubIcon {
    position: absolute;
    right: calc(var(--ifm-pre-padding) / 2);
    bottom: calc(var(--ifm-pre-padding) / 2);

    width: 2.125rem;
    height: 2.125rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--prism-background-color);
    color: var(--prism-color);
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-global-radius);
}

.counterOffset5 {
    [class^=codeBlockLines] {
        counter-reset: line-count 5;
    }
}

.counterOffset6 {
    [class^=codeBlockLines] {
        counter-reset: line-count 6;
    }
}

.counterOffset7 {
    [class^=codeBlockLines] {
        counter-reset: line-count 7;
    }
}

.counterOffset15 {
    [class^=codeBlockLines] {
        counter-reset: line-count 15;
    }
}

.counterOffset16 {
    [class^=codeBlockLines] {
        counter-reset: line-count 16;
    }
}

.counterOffset24 {
    [class^=codeBlockLines] {
        counter-reset: line-count 24;
    }
}

.counterOffset25 {
    [class^=codeBlockLines] {
        counter-reset: line-count 25;
    }
}

.counterOffset33 {
    [class^=codeBlockLines] {
        counter-reset: line-count 33;
    }
}

.counterOffset34 {
    [class^=codeBlockLines] {
        counter-reset: line-count 34;
    }
}

.counterOffset42 {
    [class^=codeBlockLines] {
        counter-reset: line-count 42;
    }
}

.counterOffset43 {
    [class^=codeBlockLines] {
        counter-reset: line-count 43;
    }
}

.counterOffset51 {
    [class^=codeBlockLines] {
        counter-reset: line-count 51;
    }
}

.counterOffset52 {
    [class^=codeBlockLines] {
        counter-reset: line-count 52;
    }
}

.counterOffset60 {
    [class^=codeBlockLines] {
        counter-reset: line-count 60;
    }
}

.counterOffset61 {
    [class^=codeBlockLines] {
        counter-reset: line-count 61;
    }
}

.counterOffset69 {
    [class^=codeBlockLines] {
        counter-reset: line-count 69;
    }
}


.counterOffset70 {
    [class^=codeBlockLines] {
        counter-reset: line-count 70;
    }
}

.counterOffset78 {
    [class^=codeBlockLines] {
        counter-reset: line-count 78;
    }
}


.counterOffset87 {
    [class^=codeBlockLines] {
        counter-reset: line-count 87;
    }
}

.counterOffset96 {
    [class^=codeBlockLines] {
        counter-reset: line-count 96;
    }
}

.counterOffset105 {
    [class^=codeBlockLines] {
        counter-reset: line-count 105;
    }
}

.counterOffset114 {
    [class^=codeBlockLines] {
        counter-reset: line-count 114;
    }
}