.layoutWrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hazardTapeContainer {
    z-index: -1;
    transform: rotate(30deg);
    position: absolute;
}

@media (max-width: 500px) {
    .hazardTapeContainer {
        transform: rotate(60deg);
    }
}

.hazardTapeContainer::before,
.hazardTapeContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(
        0deg,
        transparent,
        #FBB517,
        transparent
    );
}

.hazardTapeContainer::after {
    filter: blur(3.5rem);
}

.hazardTape {
    width: 2000px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: repeating-linear-gradient(
            45deg,
            black,
            black 10px,
            #FBB517 10px,
            #FBB517 20px
    );
}


.hazardTapeSpacer {
    width: 350px;
}

@media (max-width: 500px) {
    .hazardTapeSpacer {
        width: 150px;
    }
}

.hazardTapeText {
    padding: 0 10px 3px 10px;
    font-size: x-large;
    font-weight: bold;
    color: black;
    background-color: #FBB517;
    border-radius: 5px;
}

.docsLink {
    margin: 30px;
}
